.header{
    width: 100%;
    height: 54px;
    margin-top: 0px;
    background-color: #489DCC;
    color: white;
    position: fixed;
    z-index: 1;

}
.header p{
    margin-left: 20px;
    line-height: 54px;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-top: 0px;
}
.choose{
    margin-top: 54px;
    position: fixed;
    width: 15%;
    height: 800px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    letter-spacing: 0.2em;
    font-size: 16px;
}
.choose p{
    margin-left: 54px;
}
.goods{
    list-style: none;
    margin-left: 45px;
    font-size: 16px;
}
.goods li{
    line-height: 30px;
}
.content{
    margin-top: 54px;
    width: 85%;
    float: right;
    height: 800px;
    text-align: center;
}