<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="none">
<listeners>
	<listener class-name="org.uncommons.reportng.HTMLReporter" />
	<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
</listeners>
<test name = "TEST">
	<classes>
		<class name="test.Testcase"/>
	</classes>
</test>
</suite>